/**
 * ===== 16/3/2020 ======
 * ===CREADED BY CHRIS===
 * ===== ALL COLORS =====
 */

$CarouselOverlayColor: rgba(0,0,0,0.5);

$HeaderShadow: 0px 1px 15px -6px rgba(161,161,161,1);

$CardItemShadow: 0px 1px 5px 0px rgba(0,0,0,0.75);

$CardItemHoverShadow: 0px 1px 10px 3px rgba(0,0,0,0.75);

$MenuActiveColor:#1ABC9C;

$Font16_18_Color:#444;

$HeaderBorder_Color: #E0E0E0;

$Dark_Color: #282828;

$Light_Color: #EEE;

$BtnTxtHover_Color: #333;

$FooterBackground_Color: #292929;

$FooterFont_Color: rgba(255,255,255,0.25);

$FooterFontHover_Color: rgba(255,255,255,0.5); 